{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="jumbotron">
                <div class="col-sm-12">
                    <h1 class="text-center">Тестирование по метрологии</h1>
                    <p class="text-justify">Ресурс предназначен для тестирования по метрологии в рамках курса
                        "Метрология, стандартизация и взаимозаменяемость"</p>
                    <p class="text-center wow pulse"><a class="btn btn-primary btn-lg" role="button"
                            href="{{ url_for('auth') }}">Начать</a></p>
                    <a href="{{ url_for('admin_auth') }}">Преподавателям</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}